body{
    background-color: black;
}

audio{
    opacity: 0;
}

.mainFeature{
    position: relative;
}

.ericFoto{
    position: relative;
    top:70px;
    height: 500px;
    width:50%;
    margin: auto;
    text-align: center;
    animation: fadeIn 5s;
}

img{
    border-radius: 10%;
    border-style: solid;
    border-color:crimson;
    border-width: 10px;;
    position: relative;
    max-height: 100%;
    max-width: 100%;
}

img:hover{
    opacity: 90%;
}


.popup{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    position: absolute;
    bottom: 250px;
    width: 30%;
    text-align: center;
    background-color: goldenrod;
    border-style: solid;
    border-color:goldenrod;
    border-width: 7px;
    border-radius: 10px;
    opacity: 0;
}



a{
    text-decoration: none;
    color: crimson;
}



@keyframes fadeIn{
    0% { opacity: 0; }
  100% { opacity: 1; }
}
